# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\AllContentOnNov142020\LearnersParadise\Programming\React\DevEd\react-course\portfolio-websitre\capture-build\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
